@import "~bootstrap/scss/bootstrap";

$pointer: pointer;

* {
  padding: 0;
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  // background-color: rgba(0, 0, 0, 0.4);
  -webkit-text-size-adjust: none;
}

header {
  background: #6f23ff;
  height: 70px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;

  .header-img {
    height: 40px;
    cursor: pointer;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0 25px;

    .nav-item {
      padding: 15px;
      list-style-type: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        outline: none;

        &:hover {
          color: #c21465;
        }
      }
    }
  }
}

.movie-section {
  margin-top: 200px;

  .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .movie-poster {
    height: 350px;
    width: 250px;
  }

  .movie-poster:hover {
    cursor: pointer;
  }

  .movie-title {
    font-family: cursive;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
  }

  .like-icon {
    width: 25px;
    height: 20px;
  }

  .like-icon:hover {
    cursor: $pointer;
  }

  .movies-likes {
    margin-top: 15px;
    margin-right: 50px;
  }

  .comment-btn {
    font-family: cursive;
    border: 3px solid #000;
    box-shadow: 3px 5px #000;
    margin-bottom: 50px;
    margin-left: 10%;
    padding-inline: 50px;
    font-size: 15px;
    font-weight: 700;

    .comment-btn:hover {
      cursor: $pointer;
    }
  }
}

.footer-section {
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 40px;

  p {
    font-size: 16px;
    margin-left: 20px;
  }
}

.pop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  max-height: 100%;
  width: 60%;
  overflow: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  // backdrop-filter: blur(3px);
  z-index: 100;
  padding: 50px 16px;

  .close-icon {
    color: rgb(123, 41, 231);
    height: 24px;
    width: 24px;
    position: absolute;
    right: 60px;
    font-size: 60px;
    top: 0;
    cursor: pointer;
  }
}

.popContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .movie-image {
    height: 350px;
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin-top: 20px;
      font-size: 20px;
      color: #6f23ff;
      text-transform: uppercase;
    }

    ul {
      font-style: normal;
      font-weight: 200;
      font-size: 17px;
      line-height: 10px;

      li {
        list-style: none;
        padding: 10px;
        margin: 2px;

        input {
          margin: 5px;
          border: none;
          border-radius: 8px;
          background: rgb(116, 106, 106);
          padding: 10px;
          width: 327px;

          &:focus {
            border-color: #000;
          }
        }

        textarea {
          color: #b3bac5;
          width: 327px;
          padding: 10px;
          background: rgb(116, 106, 106);
          border-radius: 8px;

          &:focus {
            border-color: #000;
          }
        }
      }
    }

    .send {
      background-color: #6f23ff;
      margin-left: 270px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .movie-summar {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(14, 13, 13);
      font-size: 20px;
      padding: 15px;
      margin: 10px;

      b {
        font-size: large;
      }
    }

    .genres {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;

      li {
        list-style-type: none;
        color: #6f23ff;
        padding: 14px;
      }
    }

    .movies-likes {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;

      .like-icon {
        width: 25px;
        height: 20px;

        &:hover {
          cursor: $pointer;
        }
      }

      .comments {
        font-size: 16px;
        color: #000;
        cursor: pointer;
      }

      .commet-field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;

        ul {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 15px;
        }

        li {
          list-style-type: none;
          padding: 15px;
        }
      }

      .comment-Section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .feedback {
          border: 1px solid black;
          border-radius: 2px;
        }
      }
    }
  }
}
